{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^vscode$", "^node:(.*)$", "<THIRD_PARTY_MODULES>", "^~/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
